[Unit]
Description=Chromium Kiosk
After=syslog.target network.target sound.target
Wants=graphical.target
After=graphical.target


[Service]
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/python /home/pi/standard_display/Player/backend/player.py
Type=simple
ExecStart=/bin/bash /home/pi/player.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=default.target
