[Unit]
Description=GUI Service
Wants=graphical.target
StartLimitIntervalSec=86400
StartLimitBurst=8640
Requires=mosquitto.service

[Service]
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/python3 /home/pi/standard_display/Player/gui/gui.py
Type=simple
Restart=on-failure
User=pi
Group=sudo

[Install]
WantedBy=graphical.target