[Unit]
Description=Player Service
StartLimitIntervalSec=86400
StartLimitBurst=8640
Requires=mosquitto.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/standard_display/Player/backend/player.py
Type=simple
Restart=on-failure
User=pi
Group=sudo

[Install]
WantedBy=multi-user.target